     <div id="main" class="container">
     	  <div class="row">
     	  	<h3>There is nothing to configure yet.</h3>
     	  </div>
     </div>	

	 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script type="text/javascript" src="/js/materialize/0.97.8/js/materialize.min.js"></script>

     <script>
         $(document).ready(function(){
  			
    	 });
     </script>