     <div id="main" class="container">
     	  <div class="row">
     	  	<h4>Package download statistics</h4>
	      <div class="row" id="packages">	      
	      	<!--- dynamically generated content -->  
	      </div> 
      </div>      
    </div>	

	 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script type="text/javascript" src="/js/materialize/0.97.8/js/materialize.min.js"></script>

     <script>
         $(document).ready(function(){
  			
  			// display a card for each tracked package
         	var packagelist = '{{packages}}';
         	var html = '';
			if(packagelist.length > 0) {
         		var packages = ($.isArray(packagelist)) ? packagelist : packagelist.split(',');
         		var displayname = null;
	         	$.each(packages.sort(), function(index, value) {
//	         		if(value.length > 30) {
//	         			displayname = value.substr(0,27) + "...";
//	         		}
//	         		else {
         			displayname = value;
//	         		}

				 html+='<div class="col s12 m3"><div class="card teal darken-1"><div class="card-content white-text truncate">' + displayname + '</div><div class="card-action"><a href="https://www.npmjs.com/package/'+value+'"><i class="small material-icons tooltipped" data-tooltip="View on npmjs.com" data-delay="50">info_outline</i></a><a href="/stats/'+value+'"><i class="small material-icons tooltipped" data-tooltip="View download statistics" data-delay="50">assessment</i></a><a href="/data/byMonth/'+value+'"><i class="small material-icons tooltipped" data-tooltip="JSON data link" data-delay="50">system_update_alt</i></a><a href="/charts/byMonth/'+value+'"><i class="small material-icons tooltipped" data-tooltip="Image link" data-delay="50">visibility</i></a></div></div></div>';

	         	});
	 		}
	 		else {
	 			html= 'Package download information is currently not available.'
	 		}
	 		$('#packages').append(html);
	 		$('.tooltipped').tooltip({delay: 50});

    	 });
     </script>